{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
            {% else %}
            <img src="{{ about.profile_image.url }}" width="75%">
            {% endif %}
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
</div>
{% endblock content %}